
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  background-color: #222;
  color:#ddd;
  font-family: 'Merriweather','Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;

}

header{
  letter-spacing: 0.01rem;
  font-size: 1.8rem;
  line-height: 1.75em;
  color: #aaa;
  font-feature-settings: 'kern' 1;
  text-rendering: geometricPrecision;
  text-align: center;
  background-image: url(./images/rome.jpg);
  margin-bottom: 40px;
  padding-top: 20px;
  background-size: cover;
  background-position: center;

}

nav {
    max-width: 800px;
    margin: 40px auto 50px;
    padding-bottom: 20px;
}

nav > ul{
    list-style: none;
    margin: 0;
    padding: 0;
}


nav li{
    min-width: 80px;
    margin: 5px;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
}

nav li.selected > a {
  color: #fff;
}

nav a{
  text-decoration: none;
  color: #aaa;
}

nav a:hover{
  color: rgba(200,101,70,255)
}

nav:before, nav:after, footer::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right,rgba(255,255,255,0) 0%,white 50%,rgba(255,255,255,0) 100%);
}

article{
  flex: auto;
  font-size: 1.3rem;
  line-height: 1.6em;
  margin: 5% 20%;
  text-align: left;
}

footer{
  height: 40px;
  text-align: center;
}

footer > span{
  padding: 30px;
  line-height: 40px;
}
